<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="author">
  <link href="../../assets/ico/favicon.png" rel="shortcut icon">
  <title>Index Page</title>
  <link rel="stylesheet" href="assets/css/bootstrap.css" />
  <link rel="stylesheet" href="assets/css/override-bootstrap.css" />
  <link rel="stylesheet" href="assets/css/style.css" />
</head>
<!--Body container-->
<body class="landing-page-bg">
  <!--Content Area-->
  <div class="container landing-content-area">
    <h1 class="landing-heding">Timesheet </h1>
    <h5> PROJECT BY UJWALA PATEL</h5>
  </div>
  </body>
</html>
