<div class="panel panel-primary">
  <div class="panel-heading">
    Daily Schedule View
  </div>
  
  <div class="panel-body">
    <div id="show_form">
       <%= render "form" %>
    </div>
    
    <%= render "time_entries" %>
  </div>    

  <div class="panel-footer text-center"> 
    
    <h3>
      <small>Total Hours :</small>
      <span  class="text-warning" id="hours"><%= @total %></span>
    </h3>
  </div>
</div>