
<!--Content Area-->
<div class="container">
  <div class="row">
    <!--Select Date -->
    <div class="col-sm-9">
      <!--Date -->
      <form role="form" class="form-inline" method="post" id="dateFilter">
        <div class="form-group  form-group-lg">
          <label for="inputDate">Date</label>
          <input type="text" id="timesheetDate" value="<%= @date %>" name="date">
        </div>  
      </form>
      <hr>

      <%= render "time_sheets/schedule" %>
    </div>



  </div>

  <div id="time_sheet_modal" class="modal fade"></div>
</div>