<!--    Header-->
<nav class="navbar navbar-inverse ">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>



      <a href="#" class="navbar-brand">Timesheet</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

        <% if current_user.present? %>
        <li>
        <img src="assets/Profile-Pic.jpg" alt="Profile picture" class="img-rounded profile-pic"></li>
        <li>
          <h3 class="ujwala"><%= current_user.name.titleize %></h3>

        </li>
        <li>

        <%= button_to 'log out', session_path(:id => current_user.id),:method=> :delete, :class => "btn btn-success signup-login-btn", 'data-toggle' => 'modal', 'data-target'=>'#myModal' %>

        </li>
        <% else %>
        <li>
          <%= button_to "Sign up", new_user_path ,:method=> :get, remote: true, :class=>"btn btn-success signup-login-btn", 'data-toggle' => 'modal', 'data-target'=>'#myModal'%>
        </li>
        <li>
          <%= button_to 'log in', new_session_path,:method=> :get, :class => "btn btn-success signup-login-btn", 'data-toggle' => 'modal', 'data-target'=>'#myModal', remote: true %>
        </li>
        <% end %>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
