<div class="col-sm-12">
    <div class="col-sm-3"><strong>ProjeName</strong></div>
    <div class="col-sm-6"><strong> Description</strong></div>
   <div class="col-sm-2"><strong>Working Time</strong></div>
  </div>


<div class="col-sm-12" id = myDIV>
  
  <% @time_sheets.each do |time_sheet| %>
    
    <div class="col-sm-3"><%= time_sheet.project_name %></div>
    <div class="col-sm-6"> <%= truncate(time_sheet.description, length: 5) %></div>
   <div class="col-sm-2"><%= time_sheet.working_time %></div>
      
  <% end %>
  </div>
