<div class="panel panel-primary">
  <div class="panel-heading">
    Daily Schedule View
  </div>
  
  <div class="panel-body">
    <%= render "form" %>
    <%= render "index" %>
  </div>    

  <div class="panel-footer text-center"> 
    <h3><small>Total Hours :</small> <span class="text-warning">08:00</span></h3>
  </div>
</div>