<div class="panel panel-primary">
  <div class="panel-heading">
    Daily Schedule View
  </div>
  
  <div class="panel-body">
    <%= render "form" %>
    <%= render "time_entries" %>
  </div>    

  <div class="panel-footer text-center"> 
  <%hours=0,minutes=0
  hours=@total_time/60
  minutes=@total_time%60 %>
    <h3><small>Total Hours :</small> <span class="text-warning"><%= hours %>:<%=minutes %></span></h3>
  </div>
</div>