
<!--Content Area-->
<div class="container">
  <div class="row">
    <!--Select Date -->
    <div class="col-sm-9">
      <!--Date -->
      <form role="form" class="form-inline">
        <div class="form-group  form-group-lg">
          <label for="inputDate">Date</label>
          <input type="text" id="timesheetDate" value="<%= @date %>" >
        </div>  
      </form>
      <hr>
      <%= render "timesheets/schedule" %>
    </div>

    <!-- Punch In Modal -->
    <div class="col-sm-3">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myCreate"> Punch In </button>
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myCreate"> Punch Out </button>
      <%= render "timesheets/punch_in_modal" %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#show").click(function(){
      $("#time_sheet").show();
    });
    $("#inputDate").change(function(){
      var date = $("#inputDate").val();
      console.log(date);
      $.ajax({
       type: "POST",
       url: "/timesheets/search_record",
       data: { created_at: date },
       success: function(data) {
        $('#index_form').html(data);
      }
    });
    });
  });
</script>