<div id ="index_form">
       <%= render :partial=>"index" -%>
 </div>

<script>
  $(document).ready(function(){
    $("#show").click(function(){
      $("#time_sheet").show();
    });
    $("#inputDate").change(function(){
      var date = $("#inputDate").val();
      console.log(date);
      $.ajax({
       type: "POST",
       url: "/timesheets/search_record",
       data: { created_at: date },
       success: function(data) {
        $('#index_form').html(data);
      }
    });
    });
  });
</script>